.thunderstorm-transition-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thunderstorm-transition-content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thunderstorm-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}

/* Asegurar que en mobile el video ocupe todo el ancho */
@media (max-width: 768px) {
  .thunderstorm-video {
    width: 100vw !important;
    height: 100%;
    left: 0;
    right: 0;
    object-fit: cover;
  }

  .thunderstorm-transition-container {
    width: 120vw;
    max-width: 120vw;
  }
}
